@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client</h4>

<p>Hey! You can't add clients without a stylist!</p>
<p>Click Here to @Html.ActionLink("this page", "Create", "Stylists")create a stylist.</p>

@using (Html.BeginForm())
{

  @Html.LabelFor(model => model.FirstName)
  @Html.TextBoxFor(model => model.FirstName)

  @Html.LabelFor(model => model.LastName)
  @Html.TextBoxFor(model => model.LastName)

  @Html.LabelFor(model => model.Phone)
  @Html.TextBoxFor(model => model.Phone)

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type="submit" value="Add new client" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all clients", "Index")</p>