@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new client</h4>

<p>Hey! You can't add clients without a stylist!</p>
<p>Click Here to @Html.ActionLink("this page", "Create", "Stylists")create a stylist.</p>

@using (Html.BeginForm())
{
  <div class="container text-center">
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName)
  </div>
  <br>
  <div class="container text-center">
    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName)
  </div>
  <br>
  <div class="container text-center">
    @Html.LabelFor(model => model.Phone)
    @Html.TextBoxFor(model => model.Phone)
  </div>
  <br>
  <div class="container text-center">
    @Html.LabelFor(model => model.Stylist)
    @Html.DropDownList("StylistId")
  </div>
  <br>
  <input type="submit" value="Add new client" class="btn btn-primary" />
}
<p>@Html.ActionLink("Show all clients", "Index")</p>